@import "../../styles/variables.scss";

.Dropdown {
	width: 190px;
	cursor: pointer;
	&_Header {
		display: flex;
		justify-content: space-between;
		padding: 5px 10px;
		height: 40px;
		border: 2px solid $dark-blue;
		border-radius: 2px;
		font-weight: 700;
		background: $dark-gray;
		&_Icon {
			display: inline-block;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid black;
			margin-top: 10px;
			margin-right: 10px;
			&.up {
				transform: rotate(180deg);
				margin-bottom: 10px;
			}
		}
	}
	&_List {
		background: $light-gray;
		list-style-type: none;
		margin: 0;
		padding: 0;
		&_Item {
			text-align: left;
			padding: 8px 15px;
			&:hover {
				border: 1px solid $dark-blue;
			}
		}
	}
}
