@import "../styles/variables.scss";

.Table {
	margin-top: 20px;
	&_Header {
		tr {
			background: $light-blue;
			th {
				padding: 5px 10px;
				&.time {
					width: 150px;
				}
				&.rain_prob {
					width: 50px;
				}
			}
		}
	}
	&_Body {
		tr {
			text-align: center;
			&:nth-child(odd) {
				background: $light-gray;
			}
			&:nth-child(even) {
				background: $dark-gray;
			}
			td {
				&.wind_direction {
					background: url("../assets/img/arrow.svg") no-repeat center;
					background-size: 10%;
				}
			}
		}
	}
}
